.center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radius{
  border-radius: 5px;
  overflow: hidden;
}
  .index .van-field__control{
    /* color: #BFBFBF !important; */
    font-size: 15px !important;
    letter-spacing:2px;
  }
  span{
    display: inline-block;
  }
  .shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  }
  .van-radio__label,.van-checkbox__label{
    color: #404040 !important;
    padding-left: .5rem;
  }
  .highlight{
    color: #FC451A;
  }
  .highlight_gary{
    color: #ADADAD;
  }
  .exam-top{
  margin-top: 2.875rem;
  padding: 5rem 1rem 2rem 1rem;

  background-image: url(../img/3-1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 2.875rem;
  background-size: contain;
  }
  .van-checkbox__label--disabled.van-radio__icon--checked .van-icon,
  .van-radio__icon--disabled.van-radio__icon--checked .van-icon {
    color: #404040 !important;
  }